
section{
  padding: 5px;
  background-color: plum;
  text-align: center;
  border-radius : 6px;
  padding: 32px;
  max-width: 1600px;
  min-width: 500px;
}
#question{
  margin-bottom:50px;
  text-align: center;
  font-size: 100%;
  font-family: verdana;
}
#result{
  color:black;
  font-weight : bold;
}
header{
  background-image: url(sc2.jpg);
  position: center;
  text-align: center;
  color: white;
  padding: 32px;
  max-width: 1600px;
  min-width: 500px;
}
footer{
  background-color: #eee;
  text-align: center;
  padding: 10px;
  max-width: 1600px;
  min-width: 100px;
}

label{
  margin:5px;
}
button{
  background-color: indigo;
  color: white;
  padding: 15px 30px
  margin:5px;
  text-align: center;
  font-size: 16px;
  font-style: bold;
  border-radius : 4px;
  display: inline-block;
}
button:hover{
  background-color:#4189e1 ;
  color:white;
  border:2px solid;
  cursor: pointer;
}
.myImage{
 width:100px;
  height:100px;
  background-color: white;
}
.btnResult{
 float: right;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td{
  text-align: left;
  padding: 16px;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}